<h2>Inscripción</h2>
<p>
Esperamos inscripciones de compradores, transportadores
y productores campesinos.
</p>
<p>
Vea por favor la política de protección de datos personales
y lo que esperamos de quien se escriba en:
</p>

<% if (request.ssl? && resource) || Rails.env.development? %>
  <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>

    <%= render partial: 'sip/hogar/errores', locals: {f: f} %>
    <div class='container'>

      <%= render partial: 'formulario_inicial', locals: {f: f} %>

      <div class="form-actions">
        <%= f.button :submit, "Inscribirse", "data-turbo" => false  %>
      </div>
    <% end %>
    <%= render "devise/shared/links" %>
  
  </div>

<% else %>

  <% urlop = Rails.configuration.action_mailer.default_url_options %>
  <h3>Favor 
    <%= link_to 'usar este enlace para inscribirse', 
      new_usuario_registration_url(urlop) 
    %>
  </h3>
<% end %>
